#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.map {
    position: absolute;
    top: 0;
    bottom: 25px;
    left: 0;
    width: 100%;
}

.coordinates-container {
    position: absolute;
    bottom: -2px;
}

.ol-popup{
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  transform: translate(-50%, -100%);
  pointer-events: none;
  width: 220px;
  color: black;
};

.input {
  margin-bottom: 30px;
  padding: 5px 15px;
  width: 300px;
}

.btn {
  padding: 5px 10px;
  cursor: pointer;
}
